@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');

@import url('./index.css');

body
{
	position:relative;
}

.entrada 
{ 
	display: grid;
    grid-template: 1fr/ 2fr 1fr;
	text-transform: capitalize;
    background-color: #e6e9ed;
    padding: 0 4% 3%;
}

.computadora 
{
    width: 85%;
}

.texto
{ 
margin-top: 30%;
font-weight: normal;
}

.boton 
{
	background: #48CFAD;
	border-radius: 22px;
	border: none;
	font-size: 1vw;
	padding: 2% 5%;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Kelly Slab', cursive;
}

.boton a
{	
	text-decoration: none;
	color: black;	
}

.blogs-posts-container {
    padding: 0 ;
    text-align: center;
	text-transform: capitalize;
}

.blogs-posts-container h3 {
    border-bottom: 1px solid #cdd2da;  
    padding-bottom: 20px;
}

.post-container
{	
	display: inline-block;
	width: 25%;
    margin: 2%;
	font-size: 1.5vw;
	text-align: justify;
}

.post-container img
{
	width: 100%;
    border-radius: 7%;
}

.texto-normal
{
	font-weight: normal;
}


.pie_final
{
	margin-top: 5vh;

	border-top:5vh solid #48CFAD;
	color: #E8E8E9 ;
	background: #23282D;
	text-align: center;
	font-size: 1.5vw;
	font-weight: normal;
	text-transform: initial;
}