@import url('./index.css');

body
{
	position:relative;
}

.entrada 
{ 
	display: grid;
    grid-template-columns: 50vw 40vw;
	text-transform: capitalize;
    background-color: #e6e9ed;
    align-items: center; 
    justify-content: center; 
    padding: 2%;

}

.computadora 
{
    width: 90%;
}


.boton 
{
	height: auto;
	font-size: 1vw;
	padding: 2% 5%;
}


.linea {
	text-align: center;
    border-bottom: 1px solid #cdd2da;  
    margin: 5vh;
	text-transform: capitalize;
}

.blogs-posts-container {
	display: grid;
	grid-template-columns: repeat(3, 25vw);
	grid-gap: 7% 3%;
	padding:  0;
    justify-content: center;
	text-transform: capitalize;
}


.post-container img
{
	width: 100%;
    border-radius: 7%;
}

.texto-normal
{
	font-weight: normal;
	text-align: justify;
	font-size: 1.5vw;
}


.pie_final
{
	margin-top: 12vh;
	border-top:5vh solid #48CFAD;
	color: #E8E8E9 ;
	background: #23282D;
	text-align: center;
	font-size: 1.5vw;
	font-weight: normal;
	text-transform: initial;
}